<p-card header="Zoek een 3D printer bij jou in de buurt" subheader="en laat jou design uitprinten tegen een kleine vergoeding!" styleClass="ui-card-shadow">
  <p-header>
    <img src="Card" src="assets/showcase/images/usercard.png">
  </p-header>

  <div class="ui-g">
    <div class="ui-g-12 ui-md-4">
      <app-dynamic-form [settings]="formSettings" (form)="form = $event"></app-dynamic-form>
    </div>
  </div>

  <p-footer>
    <button pButton (click)="submit()" [ladda]="loading" type="button" label="Zoek" icon="fa fa-search">
    </button>
  </p-footer>
</p-card>
