<p-card header="Advanced Card" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
  <p-header>
    <img src="Card" src="assets/showcase/images/usercard.png">
  </p-header>

  <div class="ui-g">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Keyword">
        <button pButton type="button" icon="fa fa-superpowers" class="ui-button-warn"></button>
      </div>
    </div>
  </div>

  <p-footer>
    <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
  </p-footer>
</p-card>
